<app-form-generator [formTemplate]="form" [formConfig]="formConfig1" class="overall-style"></app-form-generator>
<app-form-generator [formTemplate]="form" [formConfig]="formConfig2" class="overall-style"></app-form-generator>
<ng-template #addForm>
    <div class="modal-cont">
        <label class="label">Add a new question</label>
        <select (change)="onQuestionTypeChange($event)" class="select-style">
            <option value="checkbox">Checkbox List</option>
            <option value="textarea">Paragraph</option>
        </select>
        <div *ngIf="curNewQuestion.type == 'checkbox'">
            <input class="input" type="text" placeholder="Type question here" (change)="updateQuestion($event)">
            <div *ngFor="let element of curNewQuestion.checkboxList; let i=index" class="element-style">
                <input type="text" [value]="element"  (change)="updateCheckboxList($event, i)" placeholder="Add Answer Option">
            </div>
        </div>
        <a href="javascript:void(0)" (click)=onAddNewAnswer() *ngIf="curNewQuestion.type == 'checkbox' && 5 > curNewQuestion.checkboxList.length">+ Add another answer</a>
        <div *ngIf="curNewQuestion.type == 'textarea'">
            <input class="input" type="text" placeholder="Type question here" (change)="updateQuestion($event)">
        </div>
        <div *ngIf="curNewQuestion.type == 'checkbox'">
            <input type="checkbox" (change)="onCheckChange($event, 'other')" [value]="curNewQuestion.other">
            <label>Allow user to specify their own answer</label><br>
        </div>
        <div>
            <input type="checkbox" (change)="onCheckChange($event, 'require')" [value]="curNewQuestion.required">
            <label>This field is required</label><br>
        </div>
        <div class="button-container">
            <button (click)="onSubmit()">Submit</button>
            <button (click)="addFormRef.hide()">Close</button>
        </div>     
    </div>   
</ng-template>
<ng-template #alert>
    <div class="modal-cont" style="background-color: antiquewhite;">
        <label class="label">Please fill all the required fields!</label>
        <button (click)="alertRef.hide()">OK</button>
    </div>
</ng-template>
